#bigCont {
    display: flex;
}

.bigList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.subList {
    list-style-type: none;
    padding: 5px;
    margin: 0;
    border: solid;
}

li {
    padding-top: 2px;
    padding-bottom: 2px;
}