.generatorView {
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: white;
  border-radius: 2%;
}

.generatorViewTitle {
  margin-bottom: 2vh;
}

.generatorViewButton {
    margin-top: 3vh;
}
